:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
  }
  
  .login,
  .image {
    min-height: 100vh;
  }
  
  .bg-image {
    background-image: url('img/bgopsi.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 610px;
    right: -60px;
  }
  
  .login-heading {
    font-weight: 100;
  }
  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    border-radius: 2rem;
  }
  
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-label-group>input,
  .form-label-group>label {
    padding: 10 10 6 !important;
    height: auto;
    border-radius: 2rem;
  }
  
  .form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    cursor: text;
    /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }